<footer class="container-fluid bg-light">
	<div class="row">
		<div class="section col">Colone 1</div>
		<div class="section col">Colone 2</div>
		<div class="section col">colone 3</div>
	</div>
</footer>
